body{
    background-color: rgb(250, 245, 245);
}
.title-container{
    font-family: 'Pacifico', cursive;
}
.site-title{
    color: #F10086;
    font-size: 50px;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.cart{
    border: 2px solid #999;
    height:700px;
    box-shadow: 2px 2px 4px 2px #999;
    background-color: #f8dbeb;
    margin-right: 30px;

}
.btn{
    background-color: #f36dab;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px #999;
}
@media screen and (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .shop-container{
        grid-template-columns:  1fr ;
 
    }
    .cart{
        margin-top: 30px;
  }
 
  .site-title{
      font-size: 30px;
  }
}
