.title-container{
    font-family: 'Pacifico', cursive;
}
.site-title{
   
    color: #F10086;
    font-size: 50px;
}
.shop-container{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 4fr 1fr;

}